body {
	&.admin-bar {
		.header {
			top: 46px;

			@media screen and (min-width: 783px) {
				top: 32px;
			}
		}

		.main-navigation {
			top: 46px;
			height: calc(100% - 46px);

			@media screen and (min-width: 783px) {
				top: 32px;
				height: calc(100% - 32px);
			}
		}
	}
}

.header {
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
	padding: 10px 0;
	background: var(--primary);
	z-index: 9999;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__branding {
		@include breakpoint-down(md) {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
		}

		.custom-logo-link {
			display: block;

			img {
				display: block;
				max-height: 70px;
				width: auto;
			}
		}
	}

	&__toogle {
		position: relative;
		width: 48px;
		height: 48px;
		line-height: 48px;
		cursor: pointer;
		color: var(--white);
		background-color: transparent;
		border: none;
		display: flex;
		padding: 1px 6px;
		z-index: 99;

		@include breakpoint(md) {
			display: none;
		}

		span {
			width: 32px;
			height: 2px;
			background: var(--white);
			backface-visibility: hidden;
			border-radius: 2px;
			position: relative;
			display: block;
			margin: auto;
			transition: 0.3s all ease;
			transform: rotate(0deg);

			&::before,
			&::after {
				content: '';
				transform-origin: center center;
				width: 32px;
				height: 2px;
				background: var(--white);
				backface-visibility: hidden;
				border-radius: 2px;
				position: absolute;
				left: 0;
				top: -8px;
				transition: 0.3s all ease;
				opacity: 1;
			}

			&::after {
				top: 8px;
			}
		}
	}

	&.shown-nav {
		.main-navigation {
			transform: translateX(0);
		}
	}
}

.main-navigation {
	@include breakpoint-down(md) {
		position: fixed;
		z-index: 9999;
		width: 300px;
		top: 0;
		right: 0;
		height: 100%;
		background: #333;
		padding: 60px 30px 30px;
		transform: translateX(400px);
		transition: all 0.3s;

		.header__toogle {
			position: absolute;
			top: 10px;
			right: 20px;

			span {
				transform: rotate(225deg);

				&::before,
				&::after {
					transform: rotate(-90deg);
					top: 0;
				}

				&::after {
					opacity: 0;
				}
			}
		}
	}

	ul {
		@extend %reset-list;
	}

	.menu {
		@include breakpoint(md) {
			display: flex;
		}

		li {
			display: block;
			position: relative;

			a {
				color: var(--white);
				text-decoration: none;
				display: block;
				padding: 10px 0;

				@include breakpoint(md) {
					color: var(--text-body);
					padding: 10px 20px;
				}
			}

			.sub-menu {
				padding-left: 25px;
				display: none;

				@include breakpoint(md) {
					position: absolute;
					width: 200px;
					background: var(--white);
					top: 20px;
					left: 100%;
					z-index: 99;
					box-shadow: 1px 1px 3px 0 #ddd;
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s;
					padding: 0;
					display: block;
				}
			}

			&:hover {
				> .sub-menu {
					top: 0;
					opacity: 1;
					visibility: visible;
				}
			}

			&.menu-item-has-children {
				@include breakpoint-down(md) {
					position: relative;
				}

				> a {
					position: relative;
					padding-right: 50px;

					@include breakpoint(md) {
						padding-right: 35px;
					}

					&::after {
						@include breakpoint(md) {
							content: "\f054";
							font-family: $awesome-font;
							font-weight: 900;
							position: absolute;
							right: 15px;
							top: 14px;
							font-size: 12px;
						}
					}
				}

				.toogle-sub-menu {
					@include breakpoint-down(md) {
						position: absolute;
						top: 0;
						right: 0;
						width: 44px;
						height: 44px;
						cursor: pointer;

						&::before,
						&::after {
							content: '';
							position: absolute;
							width: 16px;
							height: 16px;
							background: var(--white);
							transform: translate(-50%, -50%);
							top: 50%;
							left: 50%;
						}

						&::before {
							height: 2px;
						}

						&::after {
							width: 2px;
						}
					}
				}

				&.shown-sub {
					> .sub-menu {
						@include breakpoint-down(md) {
							display: block;
						}
					}
				}
			}

			&.current-menu-parent,
			&.current-menu-item,
			&:hover {
				> a {
					color: var(--second);
				}
			}
		}

		> li {
			+ li {
				@include breakpoint(md) {
					margin-left: 20px;
				}
			}

			> a {
				color: var(--white);

				@include breakpoint(md) {
					padding: 0;
				}
			}

			> .sub-menu {
				top: calc(100% + 20px);
				left: 0;
			}

			&.menu-item-has-children {
				> a {
					@include breakpoint(md) {
						padding-right: 18px;
					}

					&::after {
						@include breakpoint(md) {
							content: "\f078";
							top: 3px;
							right: 0;
						}
					}
				}
			}

			&:hover {
				> .sub-menu {
					top: 100%;
				}
			}
		}
	}
}
